.search-container {
    max-width: 1200px;
    width: 90%;
    margin: 20px auto;
}

.search-input {
    border: 3px solid rgba(255, 255, 255, 0.623);
    border-radius: 20px;
    height: 2rem;
    width: 60vw;
    max-width: 600px;
    outline: none;
    background: rgba(255, 255, 255, 0.815);
    box-shadow: 0 5px 0.9rem rgb(97, 93, 93);
    margin: 20px auto;
    color: rgb(231, 114, 4);
    font-weight: bold;
}
.search-input:focus {
    border: 3px solid rgb(231, 114, 4);
    background: rgba(256, 256,256, 1);
}
.search-input::placeholder{
    color: rgb(231, 114, 4);
    font-weight: normal;
    font-style: italic;
}