* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.App {
  background: #000 url("./assets/dark-background.jpg") center;
  object-fit: cover;
  min-height: 100vh;
}
.main-title {
  font-size: 30px;
  color: rgb(231, 114, 4);
  padding-top: 15vh;
  text-shadow: 0 0 0.3rem rgba(231, 114, 4, 0.7);
}
